@page
@model IndexModel
@{
    ViewData["Title"] = "Company";
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   
</head>
<body>
    <style>
        .addCompanyButton{
            float:right;
        }
        .compact-table-container {
            margin: 20px;
        }

        .table1 {
            width: 100%;
            border-collapse: collapse;
        }

            .table1 th,
            .table1 td {
                padding: 10px;
                text-align: left;
                border: 1px solid black;
            }

            .table1 th {
                background-color: #f2f2f2;
                font-weight: bold;
            }

            .table1 a {
                color: blue;
                text-decoration: none;
            }

                .table1 a:hover {
                    text-decoration: underline;
                }

        .compact-table-container button {
            padding: 10px 20px;
            background-color: lightblue;
            border: none;
            border-radius: 20px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
    <div class="compact-table-container">
        <button class="addCompanyButton" style="border-radius:20px">
            <i class="fas fa-plus"></i>
        </button>
        <table class="table1">

            <thead>
                <tr>
                    <th>№</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model.CompanyModel)
                {
                    <tr>
                        <td>@company.Id</td>
                        <td><a href="/Details?id=@company.Id">@company.Name</a></td>
                        <td>@company.City</td>
                        <td>@company.State</td>
                        <td>@company.Phone</td>
                    </tr>
                }
            </tbody>

            <!-- Добавьте остальные строки таблицы -->
        </table>
    </div>
   
    <script>
        $(document).ready(function () {
            $('#addEmployee').click(function (e) {
                e.preventDefault();
                $('#myCustomModal').modal('show');
            });
        });
    </script>
</body>
</html>

